
@import "../../base/var";

@keyframes rotateInfinite {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}


.cl-rotate{
  display: inline-block;
  animation: rotateInfinite 2s linear infinite;
}
