html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #515a6e;
    //color: #5e6d82;
}

#app {
    height: 100%;
}

.views-dev {
    margin-top: 50px;

    .views-dev-prop-item {
        border-bottom: 1px solid #eeeff1;
    }
}

.views {
    h1, h2, h3, h4, h5, h6 {
        margin: 12px 0;
        font-weight: 400;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 10px;
    }

    p {
        margin: 10px 0;
        font-size: 14px;
    }
}

@import "./doc-common.scss";
@import "./doc-style/index.scss";

