
code {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    color: #ef9431;
    background-color: #fef7ee;
    padding: 1px 5px;
    border-radius: 2px;
    //border: 1px solid #eeeeee;
    margin: 1px 3px;
    font-family: Consolas, Menlo, Courier, monospace;
}

pre code.html, .md-html-no-demo pre code {
    padding: 10px 20px;
    display: block;
    font-size: 14px;
}

pre code.html {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0;
}

.md-html-no-demo pre code {
    background-color: #fafafa;
    margin: 0;
    padding: 10px 20px;
}

.hljs-value, .hljs-string, .hljs-doctag {
    color: #19be6b;
}

.hljs-keyword, .hljs-selector-tag, .hljs-selector-class, .hljs-subst {
    color: #f8ac59;
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #fc1e70;
}

.hljs-tag, .hljs-name, .hljs-attribute {
    color: #2d8cf0;
}

.hljs-comment, .hljs-quote {
    color: #b3b3b3;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    font-weight: 500;
}


.md-html-no-demo {
    background-color: #fafafa;
}
