
@mixin c($name){
  $C: 'cl-' + $name !global;


  .#{$C}{
    @content;
  }
}

@mixin b($name){
  $B: 'cl-' + $name;


  .#{$B}{
    @content;
  }
}

@mixin t($element, $root: true, $self: false){
  $selector: &;
  $currentSeletor: '';
  @each $key in $element {
    $currentSeletor: #{$currentSeletor + '.' + $C + '--' + $key + ','};
  }

  @if($root){
    @at-root {
      #{$currentSeletor} {
        @content;
      }
    }
  }@else {
    @if($self){
      &#{$currentSeletor} {
        @content;
      }
    }@else {
      #{$currentSeletor} {
        @content;
      }
    }

  }
}

@mixin when($state) {
  $status-prefix: 'is-';
  @at-root {
    &.#{$status-prefix + $state} {
      @content;
    }
  }
}



@include c(test){
  @include t(bb){
    font-size: 12px;

    & > * {
      @include t(title-slide-icon){
        transform: translate(50%, -50%) rotate(180deg);
      }
    }

    & > {
      @include t(cc, false){
        color: #cccccc;
      }
    }
  }
}

