
.doc-popover-placement{
  width: 300px;
  &>*{
    &:first-child{
      float: left;
    }
    &:last-child{
      float: right;
    }
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
