pre, code{
  font-size: 14px;
  font-style: normal;
  font-family: Consolas,Menlo,Courier,monospace;
}

.language-shell{
  background-color: #cccccc;
}

.hljs-value, .hljs-string, .hljs-doctag{
  color: #19be6b;
}
.hljs-keyword, .hljs-selector-tag, .hljs-selector-class, .hljs-subst{
  color: #f8ac59;
}
.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr{
  color: #fc1e70;
}
.hljs-tag, .hljs-name, .hljs-attribute{
  color: #2d8cf0;
}
.hljs-comment, .hljs-quote{
  color: #b3b3b3;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst{
  font-weight: 500;
}
