@import "./base/var";
@import "./mixins/index.scss";

$indicator-background-color: $--background-color-base;
//$indicator-background-color: #8391a5;

@include c(carousel){
	position: relative;
	overflow: hidden;
	@include e(inner){
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transition: transform $--animation-time ease;
	}
	@include e(inner-1){
		z-index: 2;
	}

	@include e(indicator){
		display: inline-block;
		position: absolute;
		left: 50%;
		z-index: 3;
		transform: translateX(-50%);
	}
	@include e(indicator-item){
		display: inline-block;
		padding: 1px 12px;
		min-height: 3px;
		line-height: 1;
		background-color: $indicator-background-color;
		opacity: 0.3;
		font-size: 12px;
		margin: 3px 5px;
		border-radius: 3px;
		cursor: pointer;
		transition: transform $--animation-time ease, opacity $--animation-time ease;

		&:hover{
			opacity: 0.6;
		}
	}
	@include e(indicator-item-active){
		transform: scale(1.2);
		opacity: 0.9;
		&:hover{
			opacity: 0.9;
		}
	}
	@include m(indicator-none){
		@include e(indicator, false){
			display: none;
		}
	}
	@include m(indicator-outside){
		@include e(indicator, false){
			bottom: -3px;
		}
	}
	@include m(indicator-inside){
		@include e(indicator, false){
			bottom: 3px;
		}
	}
	@include e(arrow){
		position: absolute;
		top: 50%;
		z-index: 3;
		transform: translateY(-50%);
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: rgba(31, 45, 61, .11);
		color: $--color-white;
		text-align: center;
		line-height: 36px;
		cursor: pointer;
		transition: background-color $--animation-time ease;

		&:hover{
			background-color: rgba(31, 45, 61, .5);
		}
	}
	@include e(arrow-prev){
		left: 20px;
	}
	@include e(arrow-next){
		right: 20px;
	}
}


@include c(carousel-item){
	display: inline-block;
	width: 100%;
	height: 100%;
}
