@import "./base/var";
@import "./mixins/index.scss";

@include c(color-picker){

}

@include c(saturation-panel){
	width: 240px;
	height: 140px;
}

@include c(hue){
	height: 10px;
	background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}
