@import "./config/var";
@import "./config/mixins/index.scss";

@include c(alter){
  position: relative;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
  line-height: normal;
  overflow: hidden;
  padding: $--alter-padding-vertical $--alter-padding-horizontal;
  border-radius: $--border-radius-default;
  font-size: $--font-size-default;
  transform-origin: top;


  @include e(icon){

  }
  @include e(message){

  }
  @include e(description){

  }
  @include e(close){
    position: absolute;
    right: $--alter-padding-horizontal;
    top: 50%;
    transform: translateY(-50%);
    color: mix($--color-white, $--color-text-default, 30%);
    cursor: pointer;
    &:hover,
    &:focus,
    &:active{
      color: $--color-text-default;
    }
  }

  @include m(with-des){
    line-height: 1.5;
    padding: $--alter-padding-horizontal;
    @include e(close){
      top: $--alter-padding-vertical;
      transform: translateY(0);
    }
    @include e(message, false){
      display: block;
      font-size: $--font-size-large;
      color: $--color-text-title;
    }
    @include e(description, false){
      display: block;
    }
  }

  @include m(with-icon){
    padding-left: $--alter-padding-with-icon-horizontal;
    @include e(icon, false){
      position: absolute;
      top: 50%;
      left: #{$--alter-padding-with-icon-horizontal / 2};
      transform: translate(-50%, -50%);
      font-size: 16px;
    }

    &.cl-alter--with-des{
      padding-left: $--alter-padding-with-description-horizontal;
      @include e(icon, false){
        left: #{$--alter-padding-with-description-horizontal / 2};
        i{
          font-size: 26px;
        }
      }
    }
  }


  @include m(info){
    background-color: mix($--color-info, $--color-white, 10%);
    border-color:  mix($--color-white, $--color-info, 30%);
    @include e(icon, false){
      color: $--color-info;
    }
    &.cl-alter--dark{
      background-color: $--color-info;
      border-color:  $--color-info;
    }
  }
  @include m(success){
    background-color: mix($--color-success, $--color-white, 10%);
    border-color:  mix($--color-white, $--color-success, 30%);
    @include e(icon, false){
      color: $--color-success;
    }
    &.cl-alter--dark{
      background-color: $--color-success;
      border-color:  $--color-success;
    }
  }
  @include m(error){
    background-color: mix($--color-danger, $--color-white, 10%);
    border-color:  mix($--color-white, $--color-danger, 30%);
    @include e(icon, false){
      color: $--color-danger;
    }
    &.cl-alter--dark{
      background-color: $--color-danger;
      border-color:  $--color-danger;
    }
  }
  @include m(warning){
    background-color: mix($--color-warning, $--color-white, 10%);
    border-color:  mix($--color-white, $--color-warning, 30%);
    @include e(icon, false){
      color: $--color-warning;
    }
    &.cl-alter--dark{
      background-color: $--color-warning;
      border-color:  $--color-warning;
    }
  }

  @include m(dark){
    color: $--color-white;

    @include e(icon, false){
      color: $--color-white;
    }
    @include e(message, false){
      color: $--color-white;
    }
    @include e(description, false){
      color: $--color-white;
    }
    @include e(close, false){
      color: $--color-white;
    }
  }
}
