@import "./base/var";
@import "./config/mixins/index.scss";
@import "./config/mixins/buttonMixins";

@include c(button-group){
  display: inline-block;
  font-size: 0;//解决换行间隔的问题

  @include c(button){
    position: relative;

    &:hover,
    &:focus,
    &:active{
      z-index: 2;
    }

    &:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child){
      border-radius: 0;
    }
    &:not(:last-child){
      margin-right: -1px;
    }
  }
  @include m(primary, false){
    border-left-color: mix($--color-black, $--button-border-color-primary, $--button-active-percent);
  }
  @include m(success, false){
    border-left-color: mix($--color-black, $--button-border-color-success, $--button-active-percent);
  }
  @include m(info, false){
    border-left-color: mix($--color-black, $--button-border-color-info, $--button-active-percent);
  }
  @include m(danger, false){
    border-left-color: mix($--color-black, $--button-border-color-danger, $--button-active-percent);
  }
  @include m(warning, false){
    border-left-color: mix($--color-black, $--button-border-color-warning, $--button-active-percent);
  }
}
