@import "./config/var";
@import "./config/mixins/index.scss";
@import "./config/mixins/buttonMixins";


@include c(button){
  display: inline-block;
  line-height: 1;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all $--animation-time ease-in-out;
  border-width: $--border-width-default;
  border-style: $--border-style-default;
  border-color: $--border-color-default;

  & [class*='cl-icon-'] {
    color: $--color-white;
    & + span {
      margin-left: 5px;
    }
  }

  @include button-type($--color-white, $--color-text-default, $--button-border-color-default);
  @include button-size($--height-default, $--button-padding-horizontal-default, $--font-size-default, $--border-radius-default);

  &:hover,
  &:focus{
    color: $--color-primary;
    background-color: $--color-white;
    border-color: $--color-primary;
    & [class*='cl-icon-'] {
      color: $--color-primary;
    }
  }

  &:active{
    color: mix($--color-black, $--color-primary, $--button-active-percent);
    background-color: $--color-white;
    border-color: mix($--color-black, $--color-primary, $--button-active-percent);
    & [class*='cl-icon-'] {
      color: $--color-primary;
    }
  }

  &.is-disabled, &.is-loading {
    &,
    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      color: $--color-text-disabled;
      background-color: $--color-white;
      border-color: $--border-color-disabled;
      & [class*='cl-icon-'] {
        color: $--color-text-disabled;
      }
    }
  }
  &.is-loading{
    &,
    &:hover,
    &:focus,
    &:active{
      cursor: default;
    }
  }


  @include button-class(primary){
    @include button-type($--color-primary, $--color-white, $--button-border-color-primary);
  }

  @include button-class(danger){
    @include button-type($--color-danger, $--color-white, $--button-border-color-danger);
  }

  @include button-class(warning){
    @include button-type($--color-warning, $--color-white, $--button-border-color-warning);
  }

  @include button-class(success){
    @include button-type($--color-success, $--color-white, $--button-border-color-success);
  }

  @include button-class(info){
    @include button-type($--color-info, $--color-white, $--button-border-color-info);
  }

  @include button-class(text){
    @include button-type(transparent, $--button-font-color-text, transparent);

    &:hover,
    &:focus{
      color: mix($--color-black, $--button-font-color-text, 10%);
      background-color: transparent;
      border-color: transparent;
      & [class*='cl-icon-'] {
        color: mix($--color-black, $--button-font-color-text, 10%);
      }
    }

    &:active{
      color: mix($--color-black, $--button-font-color-text, 20%);
      background-color: transparent;
      border-color: transparent;
      & [class*='cl-icon-'] {
        color: mix($--color-black, $--button-font-color-text, 10%);
      }
    }

    &.is-disabled, &.is-loading {
      &,
      &:hover,
      &:focus,
      &:active {
        cursor: not-allowed;
        color: $--color-text-disabled;
        background-color: transparent;
        border-color: transparent;
      }
      & [class*='cl-icon-'] {
        color: $--color-text-disabled;
      }
    }
    &.is-loading{
      &,
      &:hover,
      &:focus,
      &:active {
        cursor: default;
      }
    }
  }

  @include button-class(small){
    @include button-size($--height-small, $--button-padding-horizontal-small, $--font-size-small, $--border-radius-default);
    @include button-class(circle){
      width: $--height-small;
      border-radius: $--height-small;
    }
    @include button-class(circle-text){
      width: auto;
      padding: 0 $--button-padding-horizontal-small;
    }
  }

  @include button-class(mini){
    @include button-size($--height-mini, $--button-padding-horizontal-mini, $--font-size-mini, $--border-radius-default);
    @include button-class(circle){
      width: $--height-mini;
      border-radius: $--height-mini;
    }
    @include button-class(circle-text){
      width: auto;
      padding: 0 $--button-padding-horizontal-mini;
    }
  }

  @include button-class(large){
    @include button-size($--height-large, $--button-padding-horizontal-large, $--font-size-large, $--border-radius-default);
    @include button-class(circle){
      width: $--height-large;
      border-radius: $--height-large;
    }
    @include button-class(circle-text){
      width: auto;
      padding: 0 $--button-padding-horizontal-large;
    }
  }

  @include button-class(block){
    width: 100%;
    display: block;
  }

  @include button-class(circle){
    padding: 0;
    text-align: center;
    width: $--height-default;
    border-radius: $--height-default;
  }
  @include button-class(circle-text){
    width: auto;
    padding: 0 $--button-padding-horizontal-default;
  }
}
