@import "./base/var";
@import "./config/mixins/index.scss";

@include c(cascader){
  @include e(reference-input){
    cursor: pointer;
    input{
      cursor: pointer;
    }
  }

  @include e(drop-down-inner){
    position: relative;
    border: $--border-default;
    box-shadow: $--box-shadow-default;
    background-color: $--color-white;
  }

  @include e((empty, loading)){
    text-align: center;
    min-width: $--cascader-panel-item-min-width;
    padding: 7px 16px;
    font-size: $--font-size-default;
    color: $--color-text-empty;
    vertical-align: middle;
    @include utils-ellipsis();
  }

  @include e(suffix-icon){
    transition: all $--animation-time ease-in-out;
  }

  @include e(suffix-icon-open){
    @include utils-rotate();
  }
}

@include c(cascader-panel){
  @include m(border){
    display: inline-block;
    background-color: $--color-white;
    border: $--border-default;
    border-radius: $--border-radius-default;
  }
}

@include c(cascader-item){
  height: 200px;
  vertical-align: top;
  @include utils-ellipsis();

  @include e(label){
    display: inline-block;
    height: 200px;
    min-width: $--cascader-panel-item-min-width;
    vertical-align: top;
    padding: 5px 0;
    overflow: hidden;
  }
  @include e(label-inner){
    padding: 8px 10px;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
    &:not(&-diabled):hover{
      background-color: $--background-color-hover;
    }
  }
  @include e(label-match){
    color: $--color-danger;
  }
  @include e(label-inner-selected){
    color: $--color-primary;
    background-color: $--background-color-hover;
  }

  @include e(label-inner-disabled){
    cursor: not-allowed;
    color: $--color-disabled;
    background-color: $--background-color-disabled;
  }

  @include e(label-expand-icon){
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
  }

  @include e(expand){
    height: 100%;
    display: inline-block;

    @include e(label, false){
      border-left: $--border-default;
    }
  }
}
