@import "./config/var";
@import "./config/mixins/index.scss";


@mixin date-pick-size($size){
  $font-size: $--font-size-default;
  $height: $height-default;
  $date-height: $--date-picker-date-height-default;

  @if($size == 'mini'){
    $font-size: $--font-size-mini;
    $height: $height-mini;
  }@else if($size == 'small'){
    $font-size: $--font-size-small;
    $height: $height-small;
  }@else if($size == 'large'){
    $font-size: $--font-size-large;
    $height: $height-large;
  }
  font-size: $font-size;
  height: $height;
  line-height: $height;

  .cl-date-pane__header-pre i, .cl-date-pane__header-next i{
    font-size: #{$font-size / 1.2};
  }

  .cl-date-picker__body span{
    width: $date-height;
    height: $date-height;
    line-height: $date-height;
  }
}

@include c(date-picker){
  display: block;
  @include e(reference){

  }

  @include e(drop-down-inner){
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: $--border-default;
    border-radius: $--border-radius-default;
    box-shadow: $--box-shadow-default;
    background-color: $--color-white;
  }

  @include m(mini){
    @include date-pick-size(mini);
  }

  @include m(small){
    @include date-pick-size(small);
  }

  @include m(default){
    @include date-pick-size(default);
  }

  @include m(large){
    @include date-pick-size(large);
  }
}

@include c(date-pane){

  @include e(header){
    @include clear-float;
    overflow: hidden;
    text-align: center;
    border-bottom: $--border-default;
  }
  @include e(header-date){

  }
  @include e(header-pre){
    float: left;
    padding-left: 10px;
    i{
      color: $--color-text-des;
      cursor: pointer;
      margin-right: 5px;
      transition: color $--animation-time;
      &:hover{
        color: $--color-primary;
      }
    }
  }
  @include e(header-next){
    float: right;
    padding-right: 10px;
    i{
      color: $--color-text-des;
      cursor: pointer;
      margin-left: 5px;
      transition: color $--animation-time;
      &:hover{
        color: $--color-primary;
      }
    }
  }


  @include e(body){
    padding: 10px;
  }

  @include e(week-wrap){

  }

  @include e(date-wrap){
    @include clear-float;
    span{
      display: inline-block;
      float: left;
      text-align: center;
    }
  }

  @include m(mini){
    & .cl-date-pane__header{
      @include date-pick-size(mini);
    }
  }

  @include m(small){
    & .cl-date-pane__header{
      @include date-pick-size(small);
    }
  }

  @include m(default){
    & .cl-date-pane__header{
      @include date-pick-size(default);
    }
  }

  @include m(large){
    & .cl-date-pane__header{
      @include date-pick-size(large);
    }
  }
}