@import "./config/var";
@import "./config/mixins/index.scss";
@import "./config/mixins/dateMixins.scss";

@include c(date-picker){
  display: inline-block;
  @include e(reference){

  }

  @include e(drop-down-inner){
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: $--border-default;
    border-radius: $--border-radius-default;
    box-shadow: $--box-shadow-default;
    background-color: $--color-white;
  }
}

@include c(date-pane-single){

  @include e(header){
    @include clear-float;
    overflow: hidden;
    text-align: center;
    border-bottom: $--border-default;
  }
  @include e(header-date-label){
    cursor: pointer;
    &:hover{
      color: $--color-primary;
    }
  }
  @include e(header-pre){
    float: left;
    padding-left: #{$--date-picker-pane-padding + $--date-picker-pane-margin};
    i{
      color: $--color-text-des;
      cursor: pointer;
      margin-right: 5px;
      transition: color $--animation-time;
      &:hover{
        color: $--color-primary;
      }
    }
  }
  @include e(header-next){
    float: right;
    padding-right: #{$--date-picker-pane-padding + $--date-picker-pane-margin};
    i{
      color: $--color-text-des;
      cursor: pointer;
      margin-left: 5px;
      transition: color $--animation-time;
      &:hover{
        color: $--color-primary;
      }
    }
  }


  @include e(body){
    padding: 10px;
    word-break: break-all;
  }

  @include m(mini){
    @include date-pane-size(mini);
  }

  @include m(small){
    @include date-pane-size(small);
  }

  @include m(default){
    @include date-pane-size(default);
  }

  @include m(large){
    @include date-pane-size(large);
  }
}


@include c(date-pane){
  display: flex;
  @include e(shortcuts){
    background-color: $--background-color-base;
    width: 100px;
    border-right: $--border-default;
  }
  @include e(shortcuts-item){
    padding: $--date-picker-pane-padding;
    cursor: pointer;
    @include utils-ellipsis;
    &:hover{
      background-color: $--background-color-hover;
    }
  }
  @include e(content){
    display: flex;
  }
  @include e(footer){
    border-top: $--border-default;
    padding: $--date-picker-pane-padding;
    text-align: right;
    @include clear-float;
  }
  @include e(footer-button){
    margin-left: 5px;
  }
  @include e(footer-time){
    float: left;
  }
  //@include clear-float;
  //@include e(left){
  //  float: left;
  //}
  //@include e(right){
  //  float: right;
  //}
}


@include c(date-pane-date){
  .cl-date-pane-date__week{
    text-align: right;
  }


  @include date-pane-item-common;

  @include m(mini){
    @include date-pane-date-size(mini);
  }

  @include m(small){
    @include date-pane-date-size(small);
  }

  @include m(default){
    @include date-pane-date-size(default);
  }

  @include m(large){
    @include date-pane-date-size(large);
  }
}


@include c(date-pane-year){
  @include date-pane-item-common;

  @include m(mini){
    @include date-pane-date-year-size(mini);
  }

  @include m(small){
    @include date-pane-date-year-size(small);
  }

  @include m(default){
    @include date-pane-date-year-size(default);
  }

  @include m(large){
    @include date-pane-date-year-size(large);
  }
}


@include c(date-pane-month){
  @include date-pane-item-common;

  @include m(mini){
    @include date-pane-date-month-size(mini);
  }

  @include m(small){
    @include date-pane-date-month-size(small);
  }

  @include m(default){
    @include date-pane-date-month-size(default);
  }

  @include m(large){
    @include date-pane-date-month-size(large);
  }
}

@include c(date-pane-time){
  @include date-pane-item-common;
  display: flex;
  @include e(hide){
    visibility: hidden;
  }
  //@include clear-float;
  //@include e(hh){
  //  float: left;
  //}
  //@include e(mm){
  //  float: left;
  //}
  //@include e(ss){
  //  float: left;
  //}
  @include m(mini){
    @include date-pane-date-time-size(mini, 3);
    @include m(no-show-ss){
      @include date-pane-date-time-size(mini, 2);
    }
  }

  @include m(small){
    @include date-pane-date-time-size(small, 3);
    @include m(no-show-ss){
      @include date-pane-date-time-size(small, 2);
    }
  }

  @include m(default){
    @include date-pane-date-time-size(default, 3);
    @include m(no-show-ss){
      @include date-pane-date-time-size(default, 2);
    }
  }

  @include m(large){
    @include date-pane-date-time-size(large, 3);
    @include m(no-show-ss){
      @include date-pane-date-time-size(large, 2);
    }
  }
}
