@import "./config/var";
@import "./config/mixins/index.scss";

@include c(dropdown){
  display: inline-block;
}


@include c(dropdown-menu){
  border: $--border-default;
  box-shadow: $--box-shadow-default;
  background-color: $--color-white;
  padding: 5px 0;
}

@include c(dropdown-item){
  padding: $--dropdown-item-padding-vertical $--dropdown-item-padding-horizontal;
  cursor: pointer;
  color: $--color-text-default;
  position: relative;
  &:not(.is-disabled):hover{
    background-color: $--background-color-hover;
    color: $--color-primary;
  }

  @include m(divided){
    margin-top: -#{$--dropdown-item-padding-vertical / 2};
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -#{$--dropdown-item-padding-vertical / 2};
      left: 0;
      height: 0;
      width: 100%;
      border-top: $--border-default;
      margin: #{$--dropdown-item-padding-vertical / 2} 0;
    }
  }

  @include when(disabled){
    color: $--color-text-disabled;
  }
}