@import "./config/var";
@import "./config/mixins/index.scss";

@include c(dropdown){
  display: inline-block;
}


@include c(dropdown-menu){

}

@include c(dropdown-item){
  height: $--height-default;
  line-height: $--height-default;
}