@import "./config/var";
@import "./config/mixins/index.scss";

@include c(form){
  @include m(horizontal){
    .cl-form-item{
      .cl-form-item__content{
        position: relative;
      }
    }
  }
  @include m(vertical){
    .cl-form-item__label{
      position: static;
    }
  }
  @include m(inline){
    .cl-form-item-wrap{
      display: inline-block;
      margin-right: 14px;
      vertical-align: top;
    }
  }
}

@include c(form-item){
  display: block;
  margin-bottom: 24px;
  position: relative;
  font-size: $--font-size-default;
  &:after, &:before{
    content: '';
    display: table;
  }
  @include m(error){
    .cl-input .cl-input__source, .cl-textarea .cl-textarea__source, .cl-select__el-multiple{
      border-color: $--color-danger!important;
      &:hover,
      &:focus,
      &:active{
        border-color: $--color-danger!important;
      }
      &:focus{
        box-shadow: 0 0 0 2px mix($--color-danger, $--color-white, $--button-hover-percent)!important;
      }
    }
    .cl-select__el-focus{
      border-color: $--color-danger!important;
      box-shadow: 0 0 0 2px mix($--color-danger, $--color-white, $--button-hover-percent)!important;
    }
  }

  @include e(error-tip){
    color: $--color-danger;
    position: absolute;
    top: 100%;
  }

  @include e(content){
    position: relative;
    line-height: 32px;
  }

  @include e(label){
    vertical-align: middle;
    padding-right: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    line-height: $--height-default;
  }
  @include e(label-icon){
    color: $--color-danger;
    vertical-align: middle;
    margin-right: 5px;
    font-family: SimSun,sans-serif;
  }
  @include e(label-name){
    line-height: 1;
  }
  @include m(left){
    .cl-form-item__label{
      text-align: left;
    }
  }
  @include m(center){
    .cl-form-item__label{
      text-align: center;
    }
  }
  @include m(right){
    .cl-form-item__label{
      text-align: right;
    }
  }



  .cl-checkbox--default, .cl-radio--default{
    line-height: $--height-default;
  }
  .cl-checkbox--mini, .cl-radio--mini{
    line-height: $--height-mini;
  }
  .cl-checkbox--small, .cl-radio--small{
    line-height: $--height-small;
  }
  .cl-checkbox--large, .cl-radio--large{
    line-height: $--height-large;
  }
}
