@import "./base/var";
@import "./config/mixins/index.scss";

@include c(icon){
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  line-height: normal;
  text-align: center;
}