@import "./base/var";
@import "./config/mixins/index.scss";

@include c(icon){
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: $--font-size-default;
}