@import "./config/var";
@import "./config/mixins/index.scss";

@mixin list-size($size){
  $padding-vertical: $--list-item-padding-vertical-default;
  $padding-horizontal: $--list-item-padding-horizontal-default;
  $fontSize: $--font-size-default;
  $avatarWidth: $--list-item-avatar-width-default;
  @if($size == 'mini') {
    $padding-vertical: $--list-item-padding-vertical-mini;
    $padding-horizontal: $--list-item-padding-horizontal-mini;
    $fontSize: $--font-size-mini;
    $avatarWidth: $--list-item-avatar-width-mini;

  }@else if($size == 'small'){
    $padding-vertical: $--list-item-padding-vertical-small;
    $padding-horizontal: $--list-item-padding-horizontal-small;
    $fontSize: $--font-size-small;
    $avatarWidth: $--list-item-avatar-width-small;

  }@else if($size == 'large'){
    $padding-vertical: $--list-item-padding-vertical-large;
    $padding-horizontal: $--list-item-padding-horizontal-large;
    $fontSize: $--font-size-large;
    $avatarWidth: $--list-item-avatar-width-large;

  }
  padding: $padding-vertical $padding-horizontal;
  font-size: $fontSize;

  &>.cl-list-item__avatar{
    width: $avatarWidth;
    height: $avatarWidth;
    line-height: $avatarWidth;
    margin-right: $padding-horizontal;
  }

  &>.cl-list-item__extra{
    margin-left: $padding-horizontal;
  }
  &>.cl-list-item__row>.cl-list-item__label, &>.cl-list-item__row>.cl-list-item__value{
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    padding-left: #{$padding-horizontal / 2};
    padding-right: #{$padding-horizontal / 2};
  }
}

@include c(list){
  background-color: $--color-white;
  position: relative;

  &.cl-list--split{
    .cl-list__header{
      border-bottom: $--border-default;
    }
    .cl-list__footer{
      border-top: $--border-default;
    }
  }

  @include e(header){
    font-weight: 600;
    color: $--color-text-title;
  }
  @include e(content){
  }
  @include e(footer){
    margin-top: -1px;
  }
  @include m(border){
    border: $--border-default;
    border-radius: $--border-radius-default;
  }

  @include m(mini){
    &>.cl-list__header, &>.cl-list__footer{
      @include list-size(mini)
    }
  }
  @include m(small){
    &>.cl-list__header, &>.cl-list__footer{
      @include list-size(small)
    }
  }
  @include m(default){
    &>.cl-list__header, &>.cl-list__footer{
      @include list-size(default)
    }
  }
  @include m(large){
    &>.cl-list__header, &>.cl-list__footer{
      @include list-size(large)
    }
  }
}

@include c(list-row){
  @include clear-float;
  .cl-list-item{
    float: left;
    padding: 0;
    border: none;
  }
}

@include c(list-item){

  &:not(.cl-list-item--row){
    &.cl-list-item--split{
      border-bottom: $--border-default;
    }
    &.cl-list-item--hover{
      transition: background-color $--animation-time;
      &:hover{
        background-color: $--background-color-hover;
      }
    }
  }

  @include m(meta){
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &.cl-list-item--row{
    @include e(row){
      display: flex;
      margin-top: -1px;
    }
    &.cl-list-item--split{
      .cl-list-item__row{
        border: $--border-default;
      }
      .cl-list-item__label{
        border-right: $--border-default;
      }
      .cl-list-item__value{
        border-left: $--border-default;
      }
    }
    &.cl-list-item--hover{
      .cl-list-item__row{
        transition: background-color $--animation-time;
        &:hover{
          background-color: $--background-color-hover;
        }
      }
    }
  }

  @include e(label){
    flex: none;
    font-weight: 600;
    text-align: right;
    word-break: break-all;
  }

  @include e(value){
    flex: 1;
    margin-left: -1px;
    word-break: break-all;
  }

  @include e(avatar){
    border-radius: $--border-radius-circle;
    overflow: hidden;
    flex: none;
    text-align: center;
    img{
      width: 100%;
      height: 100%;
    }
  }

  @include e(content){
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    &>.cl-list-item__title{
      color: $--color-text-title;
      margin-bottom: 5px;
      font-weight: 600;
    }
    &>.cl-list-item__description{
      color: $--color-text-des;
      margin-bottom: 5px;
    }
  }

  @include e(extra){
    flex: none;
  }

  @include m(mini){
    @include list-size(mini)
  }
  @include m(small){
    @include list-size(small)
  }
  @include m(default){
    @include list-size(default)
  }
  @include m(large){
    @include list-size(large)
  }
}
