@import "./base/var";
@import "./config/mixins/index.scss";
@import "./config/mixins/menuMixins.scss";

@include c(menu){
  display: block;
  box-sizing: border-box;
  width: 100%;
  @include m(light){
    border-right: 1px solid #dcdee2;
    border-bottom: none;
    @include theme($--menu-theme-light-background-color, $--menu-theme-light-font-color, $--background-color-hover, $--color-primary, $--menu-theme-light-group-title-font-color)
  }
  @include m(dark){
    @include theme($--menu-theme-dark-background-color, $--menu-theme-dark-font-color, $--menu-theme-dark-active-background-color, $--color-white, $--menu-theme-dark-group-title-font-color)
  }
  @include m(green){
    @include theme($--menu-theme-green-background-color, $--menu-theme-green-font-color, $--menu-theme-green-active-background-color, $--color-white, $--menu-theme-green-group-title-font-color)
  }

  @include m(horizontal){
    &::after{
      content: '';
      display: block;
      clear: both;
    }

    @include ci(menu-item){
      float: left;
      width: auto;
      border-bottom: 2px solid transparent;

      @include ci(menu-item){
        float: none;
        border: none;
      }

      @include ci(submenu){
        float: none;
        border: none;
      }
    }
    @include ci(submenu){
      float: left;
      width: auto;
      //border-bottom: 2px solid transparent;
      border: none;
      @include ci(menu-item){
        float: none;
        border: none;
      }

      @include ci(submenu){
        float: none;
        border: none;
      }
    }

    @include e(title, false){
      border-bottom: 2px solid transparent;
    }

    @include m(light, false, true){
      border-bottom: 1px solid #dcdee2;
      border-right: none;
      background-color: $--menu-theme-light-background-color;
      @include theme-horizontal($--menu-theme-light-background-color, $--menu-theme-light-font-color, $--background-color-hover,$--menu-theme-light-horizontal-border-color, $--menu-theme-light-group-title-font-color,$--color-primary)
    }

    @include m(dark, false, true){
      @include ci(submenu__drop-inner){
        border-color: $--menu-theme-dark-background-color;
        background-color: $--menu-theme-dark-background-color;
      }
      @include theme-horizontal($--menu-theme-dark-background-color, $--menu-theme-dark-font-color, $--menu-theme-dark-active-background-color, $--menu-theme-dark-horizontal-border-color, $--menu-theme-dark-group-title-font-color, $--color-white)
    }

    @include m(green, false, true){
      @include ci(submenu__drop-inner){
        border-color: $--menu-theme-green-background-color;
        background-color: $--menu-theme-green-background-color;
      }
      @include theme-horizontal($--menu-theme-green-background-color, $--menu-theme-green-font-color, $--menu-theme-green-active-background-color, $--menu-theme-green-horizontal-border-color, $--menu-theme-green-group-title-font-color, $--color-white)
    }
  }

  @include m(mini){
    @include menuSize(mini);
  }
  @include m(small){
    @include menuSize(small);
  }
  @include m(default){
    @include menuSize(default);
  }
  @include m(large){
    @include menuSize(large);
  }
}

@include c(submenu){
  & [class*='cl-icon-'] {
    vertical-align: middle;
    & + span {
      @include utils-ellipsis();
    }
  }

  @include e(title){
    box-sizing: border-box;
    @include utils-ellipsis();
    position: relative;
    cursor: pointer;
  }
  @include e(title-slide-icon){
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    transition: transform $--animation-time ease-in-out;
  }

  @include m(opened){
    & > * > {
      @include e(title-slide-icon){
        transform: translate(50%, -50%) rotate(180deg);
      }
    }
  }

  @include e(drop-inner){
    box-shadow: $--box-shadow-default;
    border-radius: $--border-radius-default;
    border: $--border-default;
    background-color: $--color-white;
    width: 100%;
    position: relative;
  }

  @include when(disabled){
    @include e(title, false){
      opacity: $--opacity-disabled;
      cursor: not-allowed;
      background-color: transparent !important;
    }
  }
}


@include c(menu-item){
  display: block;
  box-sizing: border-box;
  width: 100%;
  //border-left: 2px solid transparent;
  cursor: pointer;
  transition: all $--animation-time ease-in-out;
  @include utils-ellipsis();

  a{
    transition: all $--animation-time ease-in-out;
  }

  & [class*='cl-icon-'] {
    vertical-align: middle;
    & + span {
      vertical-align: middle;
      display: inline-block;
      @include utils-ellipsis();
    }
  }

  @include when(disabled){
    opacity: $--opacity-disabled;
    cursor: not-allowed;
    background-color: transparent !important;
  }
}

@include c(menu-group){
  display: block;
  box-sizing: border-box;
  width: 100%;
}
