@import "./config/var";
@import "./config/mixins/index.scss";

@include c(notice){
  position: fixed;
  z-index: $--dialog-z-index;
  line-height: 1;
  transition: all $--animation-time;
  border-radius: $--border-radius-default;
  overflow: hidden;
  background-color: #ffffff;
  padding: $--notice-padding;
  box-shadow: $--box-shadow-default;

  @include m(topLeft){
    margin-left: 24px;
  }
  @include m(bottomLeft){
    margin-left: 24px;
  }
  @include m(topRight){
    margin-right: 24px;
  }
  @include m(bottomRight){
    margin-right: 24px;
  }

  @include e(title){
    font-size: $--font-size-title;
    color: $--color-text-title;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  @include e(content){

  }

  @include e(close){
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    color: $--color-text-default;
    &:hover{
      color: $--color-text-title;
    }
  }


  @include m(only-title){
    .cl-notice__title{
      margin-bottom: 0;
    }
  }

  @include e(icon){
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include m(type){
    padding-left: $--notice-padding-with-content-icon-horizontal;
    .cl-notice__icon{
      font-size: 26px;
      left: #{$--notice-padding-with-content-icon-horizontal / 2};
    }
    &.cl-notice--only-title{
      padding-left: $--notice-padding-with-icon-horizontal;
      .cl-notice__icon{
        font-size: 16px;
        left: #{$--notice-padding-with-icon-horizontal / 2};
      }
    }
  }

  @include m(info){
    &.cl-notice--background{
      background-color: mix($--color-info, $--color-white, 10%);
    }
    .cl-notice__icon{
      color: $--color-info;
    }
  }

  @include m(success){
    &.cl-notice--background{
      background-color: mix($--color-success, $--color-white, 10%);
    }
    .cl-notice__icon{
      color: $--color-success;
    }
  }

  @include m(error){
    &.cl-notice--background{
      background-color: mix($--color-danger, $--color-white, 10%);
    }
    .cl-notice__icon{
      color: $--color-danger;
    }
  }

  @include m(warning){
    &.cl-notice--background{
      background-color: mix($--color-warning, $--color-white, 10%);
    }
    .cl-notice__icon{
      color: $--color-warning;
    }
  }
}
