@import "./base/var";
@import "./config/mixins/index.scss";

@mixin radioSize($size){
  $font-size: $--font-size-default;
  $height: $--radio-input-height-default;

  @if($size == 'mini'){
    $font-size: $--font-size-mini;
    $height: $--radio-input-height-mini;
  }@else if($size == 'small'){
    $font-size: $--font-size-small;
    $height: $--radio-input-height-small;
  }@else if($size == 'large'){
    $font-size: $--font-size-large;
    $height: $--radio-input-height-large;
  }
  font-size: $font-size;
  .cl-radio__inner{
    width: $height;
    height: $height;
  }
  &.is-checked .cl-radio__inner::after{
    width: #{$height / 2};
    height: #{$height / 2};
  }
}

@include c(radio){
  color: $--color-text-default;
  //line-height: 1;
  display: inline-block;
  font-size: $--font-size-default;
  position: relative;
  transition: all 0.2s;
  //vertical-align: middle;
  margin-right: 20px;

  @include e(input){
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }

  @include e(label){
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    line-height: 1;
    vertical-align: middle;
  }

  @include e(inner){
    border-radius: 50%;
    border: $--radio-border;
    background-color: $--radio-background-color;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    &:hover{
      border-color: $--radio-border-color-hover;
    }

    &::after{
      content: '';
      width: 0;
      height: 0;
      background-color: $--color-white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  @include when(disabled){
    cursor: not-allowed;
    color: $--radio-font-color-disabled;
    .cl-radio__label{
      cursor: not-allowed;
    }
    .cl-radio__inner{
      cursor: not-allowed;
      background-color: $--radio-background-color-disabled;
      border-color: $--radio-border-color-disabled;

      &::after{
        cursor: not-allowed;
        background: $--radio-icon-color-disabled;
      }
    }
  }

  @include when(checked){
    color: $--radio-font-color-checked;
    .cl-radio__inner{
      background-color: $--radio-background-color-checked;
      border-color: $--radio-border-color-checked;
    }
  }

  &.is-disabled.is-checked{
    color: $--radio-font-color-disabled;
    .cl-radio__inner{
      cursor: not-allowed;
      background-color: $--radio-background-color-disabled;
      border-color: $--radio-border-color-disabled;

      &::after{
        cursor: not-allowed;
        background: $--radio-icon-color-disabled;
      }
    }
  }

  @include m(mini){
    @include radioSize(mini);
  }

  @include m(small){
    @include radioSize(small);
  }

  @include m(default){
    @include radioSize(default);
  }

  @include m(large){
    @include radioSize(large);
  }
}
