
@import "./config/var";
@import "./config/mixins/index.scss";

@include c(table){
  overflow: hidden;
  table{
    width: 100%;
    table-layout: fixed;
  }
  th, td{
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    transition: background-color $--animation-time;
    border-bottom: $--table-head-th-border;
    min-width: 0;
    background-color: $--color-white;
    padding-top: $--table-cell-padding-vertical-default;
    padding-bottom: $--table-cell-padding-vertical-default;
    &.is-hidden{
      visibility: hidden;
    }
  }
  th{
    background-color: $--table-head-th-background-color;
  }
  td{
    @include utils-ellipsis();
  }

  @include e(wrap){
    position: relative;
  }

  @include e(head){
    width: 100%;
    overflow: hidden;
    table{
      border-top-left-radius: $--border-radius-default;
      border-top-right-radius: $--border-radius-default;
    }
    .cl-table-cell{
      text-overflow: inherit;
    }
  }
  @include e(body){
    width: 100%;
    overflow: auto;
    table{
      border-bottom-left-radius: $--border-radius-default;
      border-bottom-right-radius: $--border-radius-default;
    }
  }
  @include e(body-overflowX){
    overflow-x: auto;
  }

  @include m(hide){
    display: none;
  }

  @include m(border){
    border: $--border-default;
    .cl-table__head table, .cl-table-fixed__head table{
      border-bottom: none;
    }
    .cl-table__body table, .cl-table-fixed__body table{
      border-top: none;
    }
    th, td{
      border-right: $--border-default;
      border-bottom: $--border-default;
    }
  }

  @include e(body-empty){
    td{
      text-align: center;
    }
  }
}

@include c(table-fixed){
  position: absolute;
  top: 0;
  @include e(content){
    overflow: hidden;
  }
  @include m(left){
    left: 0;
    z-index: 2;
    box-shadow: 2px 0 6px -2px rgba(0,0,0,.2);
  }
  @include m(right){
    right: 0;
    z-index: 3;
    box-shadow: -2px 0 6px -2px rgba(0,0,0,.2);
  }

  @include e(body){
    overflow: hidden;
  }
  @include e(right-col){
    position: absolute;
    top: 0;
    background-color: $--table-head-th-background-color;
  }
}

@include c(table-head){
  @include e(sort){
    cursor: pointer;
    &:hover{
      background-color: mix($--color-black, $--table-head-th-background-color, 10%);
    }
  }
}


@include c(table-row){
  @include m(stripe){
    &:not(.cl-table-row--hover):nth-of-type(even) td{
      background-color: $--table-head-th-background-color;
    }
  }

  @include m(hover){
    & td{
      background-color: mix($--color-primary, $--color-white, 10%);
    }
  }
}

@include c(table-cell){
  padding-left: $--table-cell-padding-horizontal-default;
  padding-right: $--table-cell-padding-horizontal-default;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;

  @include m(ellipsis){
    @include utils-ellipsis;
  }

  @include m(left){
    text-align: left;
  }
  @include m(center){
    text-align: center;
  }
  @include m(right){
    text-align: right;
  }

  @include e(checkbox){
    margin: 0;
  }

  @include e(tooltip){
    max-width: 100%;
    span{
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      @include utils-ellipsis();
    }
  }
}

@include c(table-head-cell){
  @include e(sort){
    display: inline-block;
    vertical-align: middle;
    i{
      display: block;
      font-size: 12px;
      transform: scale(0.6);
      cursor: pointer;
      color: $--color-text-placeholder;

      &:nth-of-type(1){
        transform-origin: bottom;
      }
      &:nth-of-type(2){
        transform-origin: top;
      }
      &:hover{
        color: $--color-primary;
      }
    }
    i.cl-table-head-cell__sort-active{
      color: $--color-primary;
    }
  }
}
