@import "./config/var";
@import "./config/mixins/index.scss";

@include c(tabs){
  width: 100%;
  @include e(header){
    @include clear-float;
    border-bottom: $--border-default;
  }
  @include e(container){
    float: left;
  }
  @include e(nav){
    display: inline-block;
  }
  @include e(nav-item){
    display: inline-block;
    padding: 8px 16px;
    margin-right: 16px;
    cursor: pointer;

    &:hover{
      color: $--color-primary;
    }
  }
  @include e(close){
    font-size: 10px;
    transform-origin: top;
    transform: scale(0.8);
    cursor: pointer;
    margin-left: 10px;
    color: $--color-default;

    &:hover{
      color: #333333;
    }
  }
  @include e(extra){
    float: right;
  }

  @include e(header-left){
    @include e(container, false){
      float: left;
    }
    @include e(extra, false){
      float: right;
    }
  }
  @include e(header-center){
    @include e(container, false){
      float: none;
    }
    @include e(extra, false){
      float: right;
    }
  }
  @include e(header-right){
    @include e(container, false){
      float: right;
    }
    @include e(extra, false){
      float: left;
    }
  }

  @include e(content){
    overflow: hidden;
  }
}

@include c(tab-pane){
  width: 100%;
  padding: 16px;
}
