@import "./config/var";
@import "./config/mixins/index.scss";

@include c(time-picker){
  display: inline-block;
  @include e(reference){

  }

  @include e(drop-down-inner){
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: $--border-default;
    border-radius: $--border-radius-default;
    box-shadow: $--box-shadow-default;
    background-color: $--color-white;
  }
}