@import "./config/var";
@import "./config/mixins/index";

@include c(tooltip) {
  display: inline-block;

  @include e(target, false) {
    display: block;
    position: relative;
  }

  @include e(arrow) {
    width: $--popover-arrow-width;
    height: $--popover-arrow-width;
    position: absolute;
    background-color: $--tooltip-background-color-default;
    transform: rotate(45deg);
  }

  @include e(popper){
    display: inline-block;
    z-index: $--popover-z-index;
    color: $--color-white;


    @include e(content) {
      position: relative;
      text-align: left;
      box-sizing: border-box;
      border: $--border-default;
      border-color: $--tooltip-background-color-default;
      border-radius: $--border-radius-default;
      background-color: $--tooltip-background-color-default;
    }

    &[x-placement^="top"], &[x-placement^="bottom"] {
      padding: 10px 0;
    }
    &[x-placement^="left"], &[x-placement^="right"] {
      padding: 0 10px;
    }

    &[x-placement^="top"] {
      .cl-tooltip__arrow{
        bottom: -#{$--popover-arrow-width - 2px};
      }
    }

    &[x-placement^="bottom"] {
      .cl-tooltip__arrow{
        top: -#{$--popover-arrow-width - 2px};
      }
    }

    &[x-placement="top"], &[x-placement="bottom"] {
      .cl-tooltip__arrow{
        left: 50%;
        margin-left: -#{$--popover-arrow-width / 2};
      }
    }

    &[x-placement="top-start"], &[x-placement="bottom-start"] {
      .cl-tooltip__arrow{
        left: 16px;
      }
    }

    &[x-placement="top-end"], &[x-placement="bottom-end"] {
      .cl-tooltip__arrow{
        right: 16px;
      }
    }

    &[x-placement^="left"] {
      .cl-tooltip__arrow{
        right: -#{$--popover-arrow-width - 2px};
      }
    }

    &[x-placement^="right"] {
      .cl-tooltip__arrow{
        left: -#{$--popover-arrow-width - 2px};
      }
    }

    &[x-placement="left"], &[x-placement="right"] {
      .cl-tooltip__arrow{
        top: 50%;
        margin-top: -#{$--popover-arrow-width / 2};
      }
    }

    &[x-placement="left-start"], &[x-placement="right-start"] {
      .cl-tooltip__arrow{
        top: 7px;
      }
    }

    &[x-placement="left-end"], &[x-placement="right-end"] {
      .cl-tooltip__arrow{
        bottom: 7px;
      }
    }

  }


  @include e(inner) {
    padding: 5px 10px;
    overflow: hidden;
  }
}
