
.doc-grid-row-wrap {
    background-image: linear-gradient(90deg, #f5f5f5 4.16666667%, transparent 0, transparent 8.33333333%, #f5f5f5 0, #f5f5f5 12.5%, transparent 0, transparent 16.66666667%, #f5f5f5 0, #f5f5f5 20.83333333%, transparent 0, transparent 25%, #f5f5f5 0, #f5f5f5 29.16666667%, transparent 0, transparent 33.33333333%, #f5f5f5 0, #f5f5f5 37.5%, transparent 0, transparent 41.66666667%, #f5f5f5 0, #f5f5f5 45.83333333%, transparent 0, transparent 50%, #f5f5f5 0, #f5f5f5 54.16666667%, transparent 0, transparent 58.33333333%, #f5f5f5 0, #f5f5f5 62.5%, transparent 0, transparent 66.66666667%, #f5f5f5 0, #f5f5f5 70.83333333%, transparent 0, transparent 75%, #f5f5f5 0, #f5f5f5 79.16666667%, transparent 0, transparent 83.33333333%, #f5f5f5 0, #f5f5f5 87.5%, transparent 0, transparent 91.66666667%, #f5f5f5 0, #f5f5f5 95.83333333%, transparent 0);
}

.doc-grid-row {
    margin: 10px 0;

    .doc-grid-row-col:nth-of-type(even) {
        .doc-grid-col {
            background-color: rgba(2, 183, 165, 0.3);
        }
    }
}

.doc-grid-col {
    padding: 30px 0;
    background-color: rgba(2, 183, 165, 0.8);
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

.doc-grid-row-wrap-align {
    background-color: #eeeeee;

    .doc-grid-col {
        height: 50px;
    }

    .doc-grid-row-col:nth-of-type(1) {
        .doc-grid-col {
            height: 80px;
        }
    }

    .doc-grid-row-col:nth-of-type(3) {
        .doc-grid-col {
            height: 100px;
        }
    }
}
