
.doc-layout-header, .doc-layout-footer {
    color: #ffffff;
    text-align: center;
    background-color: mix(#ffffff, #2d8cf0, 30%);
}

.doc-layout-content {
    min-height: 120px;
    line-height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: mix(#ffffff, #2d8cf0, 10%);
}

.doc-layout-sider {
    color: #ffffff;
    text-align: center;
    line-height: 120px;
    background-color: mix(#ffffff, #2d8cf0, 40%);
}

.doc-layout-sider-header {
    background-color: mix(#ffffff, #2d8cf0, 20%);
}

.doc-layout-header-toggle {
    text-align: left;

    i {
        cursor: pointer;
    }
}
